{% extends 'master.html' %}

{% block content %}

<body class="bg-white text-light">
  <div class="container mt-5 col-8">
      <div class="card bg-light border-danger">
          <div class="card-body">
              <h1 class="card-title text-danger">Crear Folio</h1>
              <form method="post" novalidate>
                {% load crispy_forms_tags %}
                  {% csrf_token %}
                  {{ form.non_field_errors }}
                  

                  <div class="form-group">
                    <h3 class="text-danger">{{ form.responsable.label_tag }}</h3>
                    {{ form.responsable }}
                    {{ form.responsable.errors }}
                </div>

                  <div class="form-group">
                   <h3 class="text-danger">{{ form.fecha_asignacion.label_tag }}</h3>
                    {{ form.fecha_asignacion }}
                    {{ form.fecha_asignacion.errors }}
                </div>
                  <div class="form-group">
                    <h3 class="text-danger">{{ form.fecha_recepcion.label_tag }}</h3>
                      {{ form.fecha_recepcion }}
                      {{ form.fecha_recepcion.errors }}
                  </div>
                  
                  <div class="form-group">
                    <h3 class="text-danger">{{ form.fecha_calibracion.label_tag }}</h3>
                      {{ form.fecha_calibracion }}
                      {{ form.fecha_calibracion.errors }}
                  </div>
                  
                  <div class="form-group">
                    <h3 class="text-danger">{{ form.fecha_emision.label_tag }}</h3>
                      {{ form.fecha_emision }}
                      {{ form.fecha_emision.errors }}
                  </div>
                  
                  <div class="form-group">
                    <h3 class="text-danger">{{ form.fecha_entrega_IBC.label_tag }}</h3>
                      {{ form.fecha_entrega_IBC }}
                      {{ form.fecha_entrega_IBC.errors }}
                  </div>
                    <div class="form-group">
                      <h3 class="text-danger">{{ form.fecha_entrega_IBC.label_tag }}</h3>
                      {{ form.fecha_entrega_IBC  }}
                      {{ form.fecha_entrega_IBC.errors }}
                  </div>
                  <h2 class="text-danger">Datos Del Cliente</h2>

                  <div class="form-group">
                    <h3 class="text-danger">{{ form.cliente_nombre_razon_social |as_crispy_field}}</h3>
                  </div>
                  
                  <div class="form-group">
                    <h3 class="text-danger">{{ form.cliente_direccion |as_crispy_field}}</h3>
                  </div>
                  
                  <div class="form-group">
                    <h3 class="text-danger">{{ form.cliente_telefono |as_crispy_field }}</h3>
                  </div>
                  
                  <div class="form-group">
                    <h3 class="text-danger">{{ form.cliente_correo |as_crispy_field}}</h3>
                  </div>
                  <h2 class="text-danger">Datos Del Instrumento</h2>
                  <div class="form-group">
                    <h3 class="text-danger">{{ form.instrumento_descripcion |as_crispy_field}}</h3>
                  </div>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.instrumento_marca |as_crispy_field}}</h3>
                </div>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.instrumento_modelo |as_crispy_field}}</h3>
                </div>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.instrumento_numero_serie |as_crispy_field}}</h3>
                </div>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.instrumento_otra_identificacion |as_crispy_field}}</h3>
                </div>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.instrumento_intervalo_de_medida |as_crispy_field}}</h3>
                </div>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.instrumento_incertidumbre_requerida |as_crispy_field}}</h3>
                </div>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.instrumento_accesorios_incluidos |as_crispy_field}}</h3>
                </div>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.instrumento_condicion_recepcion_del_IBC |as_crispy_field}}</h3>
                </div>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.instrumento_especificaciones_particulares_manejo |as_crispy_field}}</h3>
                </div>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.instrumento_especificaciones_particulares_transporte |as_crispy_field}}</h3>
                </div>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.instrumento_especificaciones_particulares_proteccion |as_crispy_field}}</h3>
                </div>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.instrumento_especificaciones_particulares_almacenaje |as_crispy_field}}</h3>
                </div>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.instrumento_especificaciones_particulares_conservacion |as_crispy_field}}</h3>
                </div>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.instrumento_resolucion |as_crispy_field}}</h3>
                </div>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.C_E |as_crispy_field}}</h3>
                </div>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.coeficiente_termico |as_crispy_field}}</h3>
                </div>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.temperatura_referencia_IBC |as_crispy_field}}</h3>
                </div>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.unidades |as_crispy_field}}</h3>
                </div>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.servicio |as_crispy_field}}</h3>
                </div>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.ubicacion |as_crispy_field}}</h3>
                </div>
                <h2 class="text-danger">Patrón De Medida</h2>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.patron_id_presion_manometrica |as_crispy_field}}</h3>
                </div>
                <h2 class="text-danger">Condiciones Ambientales</h2>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.ambientales_temperatura_inicial |as_crispy_field}}</h3>
                </div>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.ambientales_temperatura_final |as_crispy_field}}</h3>
                </div>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.ambientales_presion_barometrica_inicial |as_crispy_field}}</h3>
                </div>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.ambientales_presion_barometrica_final |as_crispy_field}}</h3>
                </div>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.ambientales_humedad_relativa_inicial |as_crispy_field}}</h3>
                </div>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.ambientales_humedad_relativa_final |as_crispy_field}}</h3>
                </div>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.ambientales_altura_patron |as_crispy_field}}</h3>
                </div>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.ambientales_altura_IBC |as_crispy_field}}</h3>
                </div>
                <h2 class="text-danger">Datos Del Sitio</h2>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.sitio_lat_degrees |as_crispy_field}}</h3>
                  <h3 class="text-danger">{{ form.sitio_lat_minutes |as_crispy_field}}</h3>
                  <h3 class="text-danger">{{ form.sitio_lat_seconds |as_crispy_field}}</h3>
                </div>
                <div class="form-group">
                  <h3 class="text-danger">{{ form.sitio_altura |as_crispy_field}}</h3>
                </div>
                <button type="submit" class="btn btn-danger">Enviar</button>
              </form>
          </div>
      </div>
  </div>
{% endblock %}

